body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  padding-right: 10px;
}
.img{
  width: 28px;
  height: 100px;
}
.img img{
  width: 100%;
  height: 100%;
} 
.beer{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
}
.list{
  text-align: center;
}
.indexed{
  text-align: center;
  margin-top: 30px;
  width: 80%;
  margin: 0 auto;
  
}
.indexed span{
  padding-left: 20px;
  color: blue;
  cursor: pointer;

}
.header{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.names{
  width: 52px;
  text-align: center;
}